input {
  background-color: #c1c1c1;
  border: none;
  border-bottom: 5px solid black;
  font-size: 1.2vw;
  padding: 0.4vw 0.4vw 0.4vw 0.4vw;
  margin-top: 2vw;
  // &:focus{
  //   outline:none;
  //   border-bottom: 7px solid #58A94A;
  // }
}
