<div class="container">
  <div class="app-modal">
    <div class="app-modal-body">
      <div class="dashboard-modal-item">
        <img
          src="{{ selectedPokemon.image }}"
          alt="{{ selectedPokemon.name }}"
        />
        <div class="main-info">
          <h1>{{ selectedPokemon.name }}</h1>
          <strong>#{{ selectedPokemon.id }}</strong>
          <ul>
            <li *ngFor="let ability of selectedPokemon.abilities">
              <strong>
                {{ ability.name }}
              </strong>
              <p>
                {{ ability.effect }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-background" (click)="close()"></div>
</div>

<!-- <div class="dashboard-modal-item">
  <img
    src="{{ currentSelectedPokemon.image }}"
    alt="{{ currentSelectedPokemon.name }}"
  />
  <div class="main-info">
    <h1>{{ currentSelectedPokemon.name }}</h1>
    <p>
      <strong>#{{ currentSelectedPokemon.id }}</strong>
    </p>
    <ul>
      <li *ngFor="let ability of currentSelectedPokemon.abilities">
        <p>
          {{ ability.name }}
        </p>
        <p>
          {{ ability.effect }}
        </p>
      </li>
    </ul>
  </div>
</div> -->
