<section class="pokemons-list">
  <ul class="dashboard">
    <li *ngFor="let pokemon of pokemons" class="dashboard-card">
      <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" />
      <div class="main-info">
        <h1>{{ pokemon.name }}</h1>
        <p>
          <strong>#{{ pokemon.id }}</strong>
        </p>
        <ul>
          <li *ngFor="let ability of pokemon.abilities">
            <p>
              {{ ability.name }}
            </p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
