<section class="pokemons-list">
  <app-query-textbox (changed)="filter($event)"></app-query-textbox>
  <ul class="dashboard">
    <li
      *ngFor="let pokemon of filteredPokemons"
      class="dashboard-card"
      (click)="openModal(pokemon)"
    >
      <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" (error)="loadFallbackImage()"/>
      <div class="main-info">
        <h1>{{ pokemon.name }}</h1>
        <p>
          <strong>#{{ pokemon.id }}</strong>
        </p>
        <ul>
          <li *ngFor="let ability of pokemon.abilities">
            <p>
              {{ ability.name }}
            </p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <input
    type="button"
    value="Show more"
    class="show-more__button"
    (click)="showMorePokemons()"
  />
  <modal-dialog
    *ngIf="isModalDialogVisible"
    (isConfirmed)="closeModal($event)"
    [selectedPokemon]="currentSelectedPokemon"
  >
  </modal-dialog>
  <div *ngIf="isSpinnerEnabled" class="spinner">
    <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
</section>
